$col-squark: oklch(69.99% 0.2 7.83);
$col-charm: oklch(68.08% 0.185 292.76);
$col-light: light-dark(
  oklch(60.53% 0.1537 261),
  oklch(60.53% 0.1537 261));

$col-text: light-dark(black, white);
$col-text-deut: light-dark(#cfcfcf, lightgrey);

$col-line: light-dark(#e7e7e7, grey);
$col-shadow: light-dark(lightgrey, rgb(#ccc, 80%));
