@font-face {
  font-family: 'Monaspace Neon';
  src:
    url('/fonts/monaspace-neon.ttf') format('truetype'),
}

@mixin font-ui {
  font-family: 'Sora', 'Segoe UI', system-ui, sans-serif;
}

@mixin font-code {
  font-family: 'Monaspace Neon', 'Consolas', monospace;
}
