# squark
**/(dyna)/**/+page.svx
**/(dyna)/**/+page.ts

site.json

# output
/build/
/static/*
!/static/.gitkeep
!/static/squarkup-schema/

# internal
/node_modules/
/.svelte-kit/

vite.config.*.timestamp-*
