name: Site

on:
  workflow_dispatch:
  push:
    paths:
      - '**/site.yml'
  schedule:
    - cron: '20 4 4,20 * *'

jobs:
  build:
    runs-on: ubuntu-latest
        
    steps:
      - name: 'github / checkout'
        uses: actions/checkout@v4

      - name: 'github / ruby / setup'
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      # - name: 'ruby / bundle install'
      #   run: bundle install

      - name: 'github / node / setup'
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          cache: 'npm'
          cache-dependency-path: './site/package-lock.json'

      - name: 'svelte / npm install'
        run: cd site && npm install

      - name: 'svelte / npm run buildx'
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: cd site && npm run buildx

      - name: 'github / upload artifacts'
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'site/build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: 'github / deploy'
        id: deployment
        uses: actions/deploy-pages@v4
