name: Site

on:
  workflow_dispatch:
  schedule:
    - cron: '20 4 4,20 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './site'
        
    steps:
      - name: 'git / checkout'
        uses: actions/checkout@v4

      - name: 'git / ruby / setup'
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: 'ruby / bundle install'
        run: cd .. && bundle install

      - name: 'git / node / setup'
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'npm'
          cache-dependency-path: './site/package-lock.json'

      - name: 'svelte / npm install'
        run: npm install

      - name: 'svelte / npm run buildx'
        env:
          BASE_PATH: '/${{ github.event.repository.name }}/site'
        run: npm run buildx

      - name: 'git / upload artifacts'
        uses: actions/upload-pages-artifact@v3
        with:
          path: './site/build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: 'git / deploy'
        id: deployment
        uses: actions/deploy-pages@v4
