name: Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '20 4 4,20 * *'
  push:
    paths-ignore:
      - '**.md'
      - 'site/'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'git / checkout'
        uses: actions/checkout@v4
      
      - name: 'git / ruby / setup'
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          
      - name: 'bundle install'
        run: |
          bundle config set frozen false
          bundle install
        # gem install json-schema
        # FIXME
          
      - name: 'rake test'
        run: rake test
